@model VoNguyenMinhNhat_LTWEB_buoi3.Models.Category
@{
    ViewData["Title"] = "Thêm danh mục";

}
<div class="container mt-4">
    <h2 class="text-center mb-4">Thêm Danh Mục</h2>
    <div class="card shadow-sm p-4 rounded">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">Tên danh mục:</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Thêm danh mục</button>
                <a asp-action="Index" class="btn btn-secondary ms-2 px-4">Quay lại</a>
            </div>
        </form>
    </div>
</div>
